* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  min-height: 100vh;
}

body {
  font-family: "Libre Baskerville", sans-serif;
  background-color: rgba(215, 221, 220, 0.86);
  background-image: url("images/Scattered-Forcefields.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.header {
  display: inline-block;
  padding: 3% 10%;
}
.header h2 {
  color: rgba(0, 0, 0, 0.86);
  font-weight: bold;
  text-shadow: #FC0 1px 0 10px;
  padding: 10%;
  background-color: #f0fff1;
}

.wrapper {
  font-family: "Josefin Sans", sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 10px;
  border-radius: 5px;
  width: 60%;
  display: flex;
  box-shadow: 0 1px 20px 0 rgba(80, 76, 255, 0.86);
}
.wrapper .left {
  width: 50%;
  background: linear-gradient(to right, #66d792, #01dbdf);
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  color: rgba(27, 27, 29, 0.58);
}
.wrapper .left img {
  border-radius: 10px;
}
.wrapper .left h3, .wrapper .left p {
  padding-top: 5px;
}
.wrapper .left .social-media {
  padding-top: 20px;
}
.wrapper .left .social-media img {
  width: 30px;
}
.wrapper .right {
  padding: 20px;
}
.wrapper .right h3 {
  text-transform: uppercase;
  border-bottom: 1px solid #01dbdf;
}
.wrapper .right .description {
  padding-top: 10px;
}
.wrapper .right .description .data {
  padding-top: 10px;
}

/*# sourceMappingURL=styles.css.map */
